<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:annotation-config/>

    <import resource="classpath:edu/sl/grabalyze/config/spring-database.xml"/>

    <bean id="dateEditor"
          class="org.springframework.beans.propertyeditors.CustomDateEditor">

        <constructor-arg>
            <bean class="java.text.SimpleDateFormat">
                <constructor-arg value="yyyy-MM-dd"/>
            </bean>
        </constructor-arg>
        <constructor-arg value="true"/>

    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date">
                    <ref local="dateEditor"/>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="articleDAO" class="edu.sl.grabalyze.dao.impl.ArticleDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="tokenDAO" class="edu.sl.grabalyze.dao.impl.TokenDAOImpl">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="fileArticleDAO" class="edu.sl.grabalyze.dao.impl.FileArticleDAOImpl">
        <property name="filename" value="d:\\text.dat"/>
    </bean>

    <!-- ********** GRAB *********** -->

    <bean id="loadController" class="edu.sl.grabalyze.execution.LoadController" factory-method="get">
        <property name="delay" value="200"/>
    </bean>

    <bean id="grabberType" class="edu.sl.grabalyze.grabber.strategy.GrabberStrategyFactory"
          factory-method="createFactory">
        <constructor-arg value="telegraf"/>
        <constructor-arg ref="articleDAO"/>
    </bean>

    <bean id="articleListFactory" class="edu.sl.grabalyze.grabber.factory.ArticleListFactory">
        <constructor-arg value="2012-01-01"/>
        <constructor-arg value="2012-06-06"/>
        <property name="strategyFactory" ref="grabberType"/>
    </bean>

    <bean id="articleItemFactory" class="edu.sl.grabalyze.grabber.factory.ArticleItemFactory">
        <constructor-arg value="20000"/>
        <constructor-arg value="0"/>
        <property name="strategyFactory" ref="grabberType"/>
    </bean>

    <bean id="grabberFactory" class="edu.sl.grabalyze.grabber.factory.GrabberFactory">
        <property name="strategies" ref="articleListFactory"/>
    </bean>

    <!-- ********** PROCESSING *********** -->

    <bean id="processingFactory" class="edu.sl.grabalyze.processing.factory.ProcessingFactory">
        <property name="textProcessor">
            <bean class="edu.sl.grabalyze.processing.TextProcessor">
                <constructor-arg>
                    <bean class="edu.sl.grabalyze.processing.language.LanguageFactory" factory-method="createLanguage">
                        <constructor-arg value="ru"/>
                    </bean>
                </constructor-arg>
            </bean>
        </property>
        <property name="articleDAO" ref="articleDAO" />
        <property name="postProcessor" ref="text2file"/>
        <property name="count" value="10000"/>
        <property name="offset" value="0"/>
    </bean>

    <bean id="databasePostProcessor" class="edu.sl.grabalyze.processing.post.DatabasePostProcessor"/>

    <bean id="text2data" class="edu.sl.grabalyze.processing.post.FilePostProcessor">
        <property name="minThreshold" value="1"/>
        <property name="maxThreshold" value="999999"/>
        <property name="c45format" value="false"/>
        <property name="trainSize" value="70"/>
        <property name="filename" value="D:\\test"/>
        <property name="seed" value="random"/>
        <property name="dataOnly" value="true" />
        <property name="oneClass" value="false" />
    </bean>

    <bean id="text2file" class="edu.sl.grabalyze.processing.post.TextToFilePostProcessor">
        <property name="filename" value="D:\\text.dat"/>
    </bean>

    <!-- ********** MAIN *********** -->

    <bean id="program" class="edu.sl.grabalyze.execution.ProgramExecutor">
        <property name="factory" ref="processingFactory"/>
        <property name="threadCount" value="1"/>
    </bean>


</beans>